<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Delete User</title>
</head>
<body>
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/create">Create User</a></li>
        </ul>
    </nav>
    <div class="form-container">
        <form action="/delete-user" method="POST">
            <fieldset>
                <legend class="form-title">Delete a User</legend>
                <div class="input-group hidden">
                    <label for="userId">Id:</label>
                    <input type="text" name="userId" id="userId" value="<%= userEdit.id %>" />
                </div>
                <div class="input-group">
                    <label for="email">Are you sure you want to delete this user with Email:</label>
                    <input type="text" name="email" id="email" value="<%= userEdit.email %>" />
                </div>
                <div class="button-container">
                    <button class="button-confirm" type="submit">Confirm</button>
                </div>
            </fieldset>
        </form>
    </div>
</body>
</html>
